*~
*.pyc
*.o
lextab.py
parselog.txt
parser.out
parsetab.py
*.bo
*.so
*.ba
*.cmd
*.mod.c
*.ko
Module.symvers
*.jou
*.log
.build
mk*.cxx
mk*.h
*.bspec
model_*.cxx
model_*.h
mk*.sched
mk*.v
modules.order
xilinx/pcie_7x_v2_1
examples/*/ac701
examples/*/kc705
examples/*/vc707
examples/*/zc702
examples/*/zc706
examples/*/de5
examples/*/htg4
examples/*/zedboard
examples/*/zybo
generated/xilinx/*
