# UDev rules for setting up Bluespec emulation device drivers

ACTION=="add",SUBSYSTEM=="pci",ATTR{idVendor}=="1be7",ATTR{idProduct}=="b100", RUN+="/sbin/modprobe -b pcieportal"
KERNEL=="fpga*",MODE="666"
